<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
    <property name="URL" value="jdbc:h2:mem:activiti;DB_CLOSE_DELAY=1000" />
    <property name="user" value="sa" />
    <property name="password" value="" />
  </bean>

  <bean id="configurationFactory" class="org.activiti.osgi.blueprint.ConfigurationFactory">
    <property name="dataSource" ref="dataSource" />
    <property name="databaseSchemaUpdate" value="true" />
  </bean>

  <bean id="configuration" factory-ref="configurationFactory" factory-method="getConfiguration" />

  <bean id="processEngineFactory"
      class="org.activiti.osgi.blueprint.ProcessEngineFactoryWithELResolver"
      init-method="init"
      destroy-method="destroy">
      
    <property name="processEngineConfiguration" ref="configuration" />
    <property name="bundle" ref="blueprintBundle" />
    <property name="blueprintELResolver" ref="blueprintELResolver" />
  </bean>

  <bean id="processEngine" factory-ref="processEngineFactory"
    factory-method="getObject" />

  <bean id="runtimeService" factory-ref="processEngine"
    factory-method="getRuntimeService" />
  <bean id="repositoryService" factory-ref="processEngine"
    factory-method="getRepositoryService" />
  <bean id="historyService" factory-ref="processEngine"
    factory-method="getHistoryService" />
    
  <reference-list id="activityProviders" availability="optional" 
      interface="org.activiti.engine.delegate.JavaDelegate"
      activation="eager">
      
      <reference-listener ref="blueprintELResolver" bind-method="bindService" unbind-method="unbindService"/>
  </reference-list>
  <reference-list id="activityProvidersActivityBehaviour" availability="optional"
                  interface="org.activiti.engine.impl.pvm.delegate.ActivityBehavior"
                  activation="eager">
    <reference-listener ref="blueprintELResolver" bind-method="bindActivityBehaviourService" unbind-method="unbindActivityBehaviourService"/>
  </reference-list>
  
  <bean id="blueprintELResolver" class="org.activiti.osgi.blueprint.BlueprintELResolver" />
  
  <service ref="processEngine" interface="org.activiti.engine.ProcessEngine" />
  <service ref="runtimeService" interface="org.activiti.engine.RuntimeService" />
  <service ref="repositoryService" interface="org.activiti.engine.RepositoryService" />
  <service ref="historyService" interface="org.activiti.engine.HistoryService" />

</blueprint>