<div class="modal" ng-controller="DuplicateAppCrtl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h2>{{'APP.POPUP.DUPLICATE-TITLE' | translate}}</h2></div>
			<div class="modal-body">
                <div class="error-message" ng-if="errorMessage">
                    <span>{{errorMessage}}</span>
                </div>
				<p>{{originalModel?'APP.POPUP.DUPLICATE-DESCRIPTION':'APP.POPUP.CREATE-DESCRIPTION' | translate}}</p>
				<div class="form-group">
				    <label for="newAppName">{{'APP.NAME' | translate}}</label>
				    <input ng-disabled="model.loading" type="text" class="form-control"
			               id="newAppName" ng-model="model.app.name"
                           custom-keys enter-pressed="ok()" auto-focus>
				</div>
				<div class="form-group">
				    <label for="newAppKey">{{'APP.KEY' | translate}}</label>
				    <input ng-disabled="model.loading" type="text" class="form-control"
			               id="newAppKey" ng-model="model.app.key">
				</div>
				<div class="form-group">
				    <label for="newAppDescription">{{'APP.DESCRIPTION' | translate}}</label>
					<textarea ng-disabled="model.loading" class="form-control" id="newAppDescription" rows="5" ng-model="model.app.description"></textarea>
				</div>
			</div>
			
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="model.loading">
						{{'GENERAL.ACTION.CANCEL' | translate}}
					</button>
					<button type="button" class="btn btn-sm btn-default" ng-click="ok()"ng-disabled="model.loading || !model.app.name || !model.app.key">
						{{originalModel?'APP.ACTION.DUPLICATE-CONFIRM':'APP.ACTION.CREATE-CONFIRM' | translate}}
					</button>
				</div>
				<div class="loading pull-right" ng-show="model.loading">
					<div class="l1"></div><div class="l2"></div><div class="l2"></div>
				</div>
			</div>
		</div>
	</div>
</div>