
<div class="modal" ng-controller="CreateNewFormCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h2>{{'FORM.POPUP.CREATE-TITLE' | translate}}</h2></div>
			<div class="modal-body">
				<p>{{'FORM.POPUP.CREATE-DESCRIPTION' | translate}}</p>
				<div ng-if="model.errorMessage && model.errorMessage.length > 0" class="alert error" style="font-size: 14px; margin-top:20px">
                  <div class="popup-error" style="font-size: 14px">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span>{{model.errorMessage}}</span>
                  </div>
                </div>
				<div class="form-group">
				    <label for="newFormName">{{'FORM.NAME' | translate}}</label>
				    <input ng-disabled="model.loading" type="text" class="form-control"
			               id="newFormName" ng-model="model.form.name" custom-keys enter-pressed="ok()" auto-focus editor-input-check>
				</div>
				<div class="form-group">
				    <label for="newFormKey">{{'FORM.KEY' | translate}}</label>
				    <input ng-disabled="model.loading" type="text" class="form-control"
			               id="newFormKey" ng-model="model.form.key" editor-input-check>
				</div>
				<div class="form-group">
				    <label for="newFormDescription">{{'FORM.DESCRIPTION' | translate}}</label>
					<textarea ng-disabled="model.loading" class="form-control" id="newFormDescription" rows="5" ng-model="model.form.description"></textarea>
				</div>
			</div>
			
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="model.loading">
						{{'GENERAL.ACTION.CANCEL' | translate}}
					</button>
					<button type="button" class="btn btn-sm btn-default" ng-click="ok()"ng-disabled="model.loading || !model.form.name || model.form.name.length == 0 || !model.form.key || model.form.key.length == 0">
						{{'FORM.ACTION.CREATE-CONFIRM' | translate}}
					</button>
				</div>
				<div class="loading pull-right" ng-show="model.loading">
					<div class="l1"></div><div class="l2"></div><div class="l2"></div>
				</div>
			</div>
		</div>
	</div>
</div>