<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:camel="http://camel.apache.org/schema/spring"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/osgi  http://www.springframework.org/schema/osgi/spring-osgi.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<import resource="classpath*:camel-activiti-parent-context.xml" />


    <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
        <route id="incomingRoute">
          <from uri="activiti:camelProcess:serviceTask1" />
          <setBody>
            <property>var1</property>
          </setBody>
          <to uri="mock:service1" />
          <setProperty propertyName="var2">
            <constant>var2</constant>
          </setProperty>
          <setBody>
            <mvel>properties</mvel>
          </setBody>
        </route>
        <route id="incomingRoute2">
          <from uri="activiti:camelProcess:serviceTask2?copyVariablesToBodyAsMap=true" />
          <to uri="mock:service2" />
        </route>
        <route id="startRoute">
          <from uri="direct:start" />
          <to uri="activiti:camelProcess" />
        </route>
        <route id="startRoute2">
          <from uri="direct:receive" />
          <to uri="activiti:camelProcess:receive" />
        </route>
    </camelContext>

</beans>
