target
/local

# Eclipse, Netbeans and IntelliJ files
!.gitignore
/nbproject
/*.ipr
/*.iws
*.iml
.idea

# Repository wide ignore mac DS_Store files
.DS_Store
.project
activiti-services/activiti-services-query/.settings
.classpath
activiti-services/activiti-services-query/activiti-services-query-app/.settings
activiti-services/activiti-services-query/activiti-services-query-model/.settings
activiti-services/activiti-services-query/activiti-services-query-repo/.settings
activiti-spring-boot/activiti-spring-boot-test/.settings
activiti-spring-boot/activiti-spring-boot-test/target
activiti-services/activiti-services-query/activiti-services-query-app/target
activiti-services/activiti-services-query/activiti-services-query-model/target
activiti-services/activiti-services-query/activiti-services-query-repo/target
activiti-services/activiti-services-query/target
activiti-services/activiti-services-query/activiti-services-query-es/.settings
activiti-services/activiti-services-query/activiti-services-query-es/target
activiti-spring-boot/spring-boot-samples/spring-boot-sample-hal-rest-api/.settings
.springBeans
