target
/local

# Netbeans and IntelliJ files
!.gitignore
/nbproject
/*.ipr
/*.iws
*.iml
.idea
*.bpmn/
/userguide/src/en/index.html
migration.html
/modules/**/bin
modules/activiti-ui/activiti-app/data
modules/activiti-webapp-rest2/src/main/webapp/docs/*.json
modules/activiti-webapp-rest2/src/main/webapp/docs/*.yaml
modules/activiti-webapp-rest2/.gradle/
modules/activiti-ui/.gradle/
modules/activiti-ui/activiti-app/build/

