target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*.bpmn/
/userguide/src/en/index.html
migration.html
/modules/**/bin
modules/activiti-ui/activiti-app/data
modules/activiti-webapp-rest2/src/main/webapp/docs/*.json
modules/activiti-webapp-rest2/src/main/webapp/docs/*.yaml