repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-xml
        exclude: ^.*parsing-error\.bpmn20\.xml$
      - id: check-merge-conflict
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.1
    hooks:
      - id: prettier
        types_or:
          - markdown
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.23.3
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows
