<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <!-- use this mirror with OpenJDK 11 as a workaround for https://issues.jboss.org/browse/NEXUS-181 -->
    <mirror>
      <id>jboss-public-repository-group-central-mirror</id>
      <url>https://jcenter.bintray.com</url>
      <mirrorOf>jboss-public-repository-group</mirrorOf>
    </mirror>
  </mirrors>
</settings>
