.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
	background: none;
}

#content #left .activiti-component {
	overflow: auto;
}

#content #left .activiti-component #treeDiv1 .loading {
	background:url("/activiti-cycle/res/images/loading.gif") no-repeat scroll center center transparent;
	height:8em;
}

/* File type icons for tree nodes */
.icon-doc-blue { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 0px no-repeat; }
.icon-doc { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -16px no-repeat; }
.icon-ppt { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -32px no-repeat; }
.icon-xls { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -48px no-repeat; }
.icon-xls-blue { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -64px no-repeat; }
.icon-office { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -80px no-repeat; }
.icon-pdf { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -96px no-repeat; }
.icon-txt { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -112px no-repeat; }
.icon-blank { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -128px no-repeat; }
.icon-zip { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -144px no-repeat; }
.icon-archive { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -160px no-repeat; }
.icon-www { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -176px no-repeat; }
.icon-camera { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -192px no-repeat; }
.icon-img { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -208px no-repeat; }
.icon-java { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -224px no-repeat; }
.icon-php { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -240px no-repeat; }
.icon-ruby { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -256px no-repeat; }
.icon-sql { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -272px no-repeat; }
.icon-vs { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -288px no-repeat; }
.icon-c { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -304px no-repeat; }
.icon-h { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -320px no-repeat; }
.icon-c-sharp { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -336px no-repeat; }
.icon-c-plus-plus { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -352px no-repeat; }
.icon-action-script { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -368px no-repeat; }
.icon-flash { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -384px no-repeat; }
.icon-free-hand { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -400px no-repeat; }
.icon-code-page-blue { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -416px no-repeat; }
.icon-code-red { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -432px no-repeat; }
.icon-code-blue { display:block; height: 16px; padding-left: 20px; white-space: nowrap; background: transparent url("/activiti-cycle/res/images/doctype-icons.png") 0 -448px no-repeat; }
.htmlnodelabel { margin-left: 20px; }

/* Folder style for tree */

#treeDiv1 a:hover {
  text-decoration: none;
}

#treeDiv1 .ygtvcontent {
  line-height:1.3em;
}

/* first or middle sibling, no children */
.ygtvtn { background: url("/activiti-cycle/res/images/folder/tn.gif") 0 0 no-repeat; width:17px; height:22px; }

/* first or middle sibling, collapsable */
.ygtvtm { background: url("/activiti-cycle/res/images/folder/tm.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygtvtmh { background: url("/activiti-cycle/res/images/folder/tmh.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygtvtp { background: url("/activiti-cycle/res/images/folder/tp.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygtvtph { background: url("/activiti-cycle/res/images/folder/tph.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygtvln { background: url("/activiti-cycle/res/images/folder/ln.gif") 0 0 no-repeat; width:17px; height:22px; }

/* Last sibling, collapsable */
.ygtvlm { background: url("/activiti-cycle/res/images/folder/lm.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygtvlmh { background: url("/activiti-cycle/res/images/folder/lmh.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygtvlp { background: url("/activiti-cycle/res/images/folder/lp.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygtvlph { background: url("/activiti-cycle/res/images/folder/lph.gif") 0 0 no-repeat; min-width:34px; height:22px; cursor:pointer }

/* Loading icon */
.ygtvloading { background: url("/activiti-cycle/res/images/folder/loading.gif") no-repeat scroll 0 3px transparent }

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { background: url("/activiti-cycle/res/images/folder/vline.gif") 0 0 no-repeat; width:17px; height:22px; }

.ygtvblankdepthcell { width:17px; height:22px; }

/* the style of the div around each node */
.ygtvitem { }  

.ygtvitem  table{
    margin-bottom:0;
}
.ygtvitem  td {
    border:none;padding:0;
} 

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:1%; }  

/* the style of the text label in ygTextNode */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}

#Activiti .yui-panel .bd h1 {
  padding-bottom: 1.2em;
}

#Activiti .yui-panel .bd p {
  margin:0.5em 0.25em 1em;
}

#Activiti a#tree-refresh-link {
  position:absolute;
  right:10px;
  top:5px;
  color: #007DC3;
}

#Activiti a#tree-refresh-link:hover {
  text-decoration: underline;
}