
.processInstances .activiti-datatable.yui-dt .yui-dt-col-action {
  text-align: right;
}

.processInstances .activiti-datatable.yui-dt .yui-dt-col-action span.first-child {
  background: no-repeat scroll 12px 4px transparent;
  padding-left: 22px;
}

.processInstances .activiti-datatable.yui-dt .yui-dt-col-action .view-process-diagram span.first-child
{
  background-image: url("../../images/process-view-icon.png");
}


.processInstances h1 {
  float: left;
}

.processInstances .yui-pg-container {
  float: right;
}

.processInstances .activiti-datatable.yui-dt {
  clear: both;
}

