.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
	border-color: #A3A3A3 !important;
}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
	border-color: #A3A3A3 !important;
}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
	color: #FFFFFF !important;
}
.yui-skin-sam .yui-navset .yui-content {
	background: none repeat scroll 0 0 #F9F9F9;
}