.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
  border-left: 1px solid !important;
  border-right: 1px solid !important;
  border-color: #A3A3A3 !important;
}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
  border-color: #A3A3A3 !important;
}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
  color: #FFFFFF !important;
}
.yui-skin-sam .yui-navset .yui-content {
  background: none repeat scroll 0 0 #F9F9F9;
}

.artifact-image, .artifact-html, .artifact-html-reference, .artifact-binary, .artifact-code, .artifact-text-plain {
  overflow: auto;
}

.artifact-code, .artifact-text-plain, .artifact-html {
  background-color:#FFFFFF;
  margin:0.5em;
  padding:1.2em;
}

.artifact-html iframe, .artifact-html-reference iframe {
  border: 0;
  width: 100%;
  min-height: 600px;
}

#options-div.active {
  float:right;
  position:relative;
  z-index:2;
}

#artifact-actions, #artifact-links, #artifact-downloads {
  float: left;
  margin-right: 15px;
}

#artifact-div .yui-navset div.loading {
  background:url("/activiti-cycle/res/images/loading.gif") no-repeat scroll center center transparent;
  height:8em;
}

/* formatting of stack traces */

.cycle-stack-trace {
  color: #999;
  display: block;
}

.cycle-stack-trace:hover {
  color: #333;
  display: block;
}

.cycle-stack-trace-highlight {
  color: #333;
  display: block;
}

.cycle-stack-trace-highlight:hover {
  background: #666;
  color: #fff;
}

#Activiti div .comments {
  margin-top: 20px;
}

#Activiti div.comment {
  width: 50%;
  margin-bottom: 6px;
  border-bottom: 4px solid transparent;
}

#Activiti div.comment:hover {
  background: #EEE;
  border-bottom: 4px solid #AAA;
}

#Activiti span.comment-content {
 display: block;
}

#Activiti span.comment-author, #Activiti span.comment-date {
  color:#999999;
  font-style:italic;
  margin-right: 7px;
}

#Activiti textarea#comment-input {
  width: 50%;
}