<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Spring Web Scripts Application</display-name>

  <!-- Spring Application Context location -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/web-application-context.xml</param-value>
    <description>Spring config file location</description>
  </context-param>

  <!-- Spring Context Loader listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Spring WebScripts (authenticated) -->
  <servlet>   
    <servlet-name>WebScriptServlet</servlet-name>
    <servlet-class>org.springframework.extensions.webscripts.servlet.WebScriptServlet</servlet-class>
    <init-param>
      <param-name>authenticator</param-name>
      <param-value>webscripts.authenticator.basic</param-value>
    </init-param>
  </servlet>

  <!-- The Webscript Servlet -->
  <servlet-mapping>
    <servlet-name>WebScriptServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

</web-app>