<div class="modal-header-wrapper">
	<div class="modal-header">
		<div class="pull-right">
            <a class="action" ng-click="cancel()">&times; {{'GENERAL.ACTION.CANCEL-AND-CLOSE' | translate}}</a>
        </div>
		<h2>{{'USER.POPUP.CHANGE-PASSWORD.TITLE' | translate:user}}</h2>	
	</div>
</div>
<div class="modal-body">
    <div class="alert error" ng-show="model.errorMessage">
		<i class="glyphicon glyphicon-remove"></i>
		{{model.errorMessage}}
	</div>
	<table class="edit-table">
		<tr>
			<td class="edit-label" translate="USER.POPUP.CHANGE-PASSWORD.OLD-PASSWORD"></td>
			<td>
				<div class="input-group input-group-sm">
					<input type="password" class="form-control" value="" ng-model="model.oldPassword">
				</div>
			</td>
		</tr>
		<tr>
			<td class="edit-label"translate="USER.POPUP.CHANGE-PASSWORD.NEW-PASSWORD"></td>
			<td>
				<div class="input-group input-group-sm">
					<input type="password" class="form-control" value="" ng-model="model.newPassword">
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="modal-footer-wrapper">
	<div class="modal-footer">
		<div class="pull-right">
	       <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="status.loading"
	       		translate="GENERAL.ACTION.CANCEL">
	       	</button>
	       <button type="button" class="btn btn-sm btn-default" ng-click="ok()" ng-disabled="status.loading || !model.newPassword || !model.oldPassword"
	           translate="USER.POPUP.CHANGE-PASSWORD.CONFIRM">
	       </button>
		</div>
        <loading-indicator></loading-indicator>
</div>
</div>