
<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>{{'CONTENT.TITLE.DELETE' | translate}}</h2>
			</div>
			<div class="modal-body">
				<p>{{'CONTENT.MESSAGE.DELETE-CONFIRMATION' | translate:popup.content}}</p>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-sm btn-default" ng-click="$hide();" ng-disabled="popup.loading">
						{{'GENERAL.ACTION.CANCEL' | translate}}
					</button>
					<button type="button" class="btn btn-sm btn-danger" ng-click="ok(); $hide();" ng-disabled="popup.loading">
						<span>{{'GENERAL.ACTION.CONFIRM' | translate}}</span>
					</button>
				</div>
				<div class="loading pull-right" ng-show="popup.loading">
					<div class="l1"></div><div class="l2"></div><div class="l2"></div>
				</div>
			</div>
		</div>
	</div>
</div>