@import url(../reindeer/styles.css);

/* ---------- 
   Main layout
   ----------- */

#header {
	background: repeat-x left url(img/header-bg.png);
	height: 44px;
	min-width: 410px;
}

#header #activiti-component {
	background: top right no-repeat url(img/header-bg-right.png);
	height: 44px;
}

#header #application-info {
	float: left;
	padding-left: 1em;
	padding-top: 0.6em;
}

#header #search {
  float: right;
  padding-right: 2em;
  padding-top: 1em;
}

#header #logout {
	float: right;
	padding-right: 1em;
	padding-top: 1em;
}

#content {
	float: bottom;
	height: 100%;
}

.footer {
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.v-button-user .v-button-caption{
  color: white;
  line-height: 18px;
  margin-right: 0.5em;
  text-decoration: none;
}

.v-button-logout .v-button-caption {
  color: white;
  line-height: 18px;
  margin-right: 0.5em;
  text-decoration: none;
}

/* Search textfield */

.v-textfield-searchBox {
  background: white left no-repeat url(img/magnifying-glass.gif);
}
.v-app input.v-textfield-searchBox {
    padding-left: 17px; // This way the text starts after the magnifying glass icon
}

/* ---------
   Main menu
   --------- */
   
#main-menu {
  height: 23px;
  background: no-repeat right url(img/main-menu-bg-right.png);
  text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.9);
  padding-top: 0pt;
  padding-right: 8px;
  padding-bottom: 0pt;
  padding-left: 8px;
  background-color: #131313;
}

.v-horizontallayout-menubar {
  height: 23px;
  text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.9);
  padding-top: 0pt;
  padding-right: 8px;
  padding-bottom: 6pt;
  padding-left: 8px;
  background-color: #131313;
}

.v-button-menu-button .v-button-caption {
  color: #fefffb;
  text-decoration: none;
  font-weight: lighter;
}

/* ------------
   Profile page
   ------------ */


.v-label-profile-header {
  height: 1.1em;
  padding-top: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  margin-top: 1.5em;
  margin-right: 1em;
  margin-bottom: 0em;
  margin-left: 1em;
  background-color: #e3eaec;
  font-weight: bold;
  font-size: 116%;
}

.v-gridlayout-profile-layout {
  padding-top: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  margin-top: 1.5em;
  margin-right: 1em;
  margin-bottom: 0em;
  margin-left: 1.5em;
}

.v-label-profile-field {
  font-weight: bold;
}

.v-gridlayout-profile-layout .v-gridlayout-spacing-on {
    padding-top: 8px;
}

.v-embedded-profile-picture {
  padding: 1px;
  border: 1px solid #021a40;
}

/* 

/* ---------
   Task list
   --------- */
   
.v-table-task-list .v-table-cell-content {
  height: 54px;
}

.v-table-cell-content {
    vertical-align: middle;
}

/* ------------
   Task details
   ------------ */

.v-label-bold {
  font-weight: bold;
}

.v-gridlayout-task-details .v-gridlayout-spacing-on {
  padding-left: 15px;
  padding-top: 2px;
}

.v-label-horizontal-separator {
  margin-top: 0px;
  padding-top: 0px;
}

/* -------------
   Task comments
   ------------- */
   
.v-customcomponent-task-comment {
  margin-bottom: 5px;
}  

.v-label-task-comment-author {
  color: #44698b;
  font-weight: bold;
  padding-top: 10px;
}

.v-label-task-comment-time {
  color: #70706f;
  padding-top: 10px;
}

