.processes .yui-pg-container {
  margin-top: -1.5em;
  text-align: right;
}

.processes .activiti-datalist.yui-dt .yui-dt-col-action {
  text-align: right;
}

.processes .activiti-datalist.yui-dt .yui-dt-col-action span.first-child {
  background: no-repeat scroll 12px 4px transparent;
  padding-left: 22px;
}

.processes .activiti-datalist.yui-dt .yui-dt-col-action .start-process-using-form span.first-child
{
  background-image: url("../../images/process-start-form-icon.png");
}

.processes .activiti-datalist.yui-dt .yui-dt-col-action .start-process span.first-child
{
  background-image: url("../../images/process-start-icon.png");
}

.processes .activiti-datalist.yui-dt .yui-dt-col-action .view-process-diagram span.first-child
{
  background-image: url("../../images/process-view-icon.png");
}




