<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="testBean" class="org.activiti.osgi.blueprint.bean.SimpleBean" />
  
  <service ref="testBean" interface="org.activiti.engine.delegate.JavaDelegate" />

  <bean id="activityBehaviourBean" class="org.activiti.osgi.blueprint.bean.ActivityBehaviourBean" />

  <service ref="activityBehaviourBean" interface="org.activiti.engine.impl.pvm.delegate.ActivityBehavior" />
</blueprint>