/* STYLING */

#Activiti a.current,
#Activiti .yui-pg-current-page,
#Activiti .activiti-form.bd h1,
#Activiti .activiti-form.bd h2,
#Activiti .activiti-form.bd h3,
h1 {
  color: #007dc3;
}

/* STRUCTURE */
/* Override Core style for long DB table names */
.yui-gf div.yui-u.first {
  min-width:18em;
}

#Activiti .deployments,
#Activiti .jobs {
  padding-bottom:10px;
}

#Activiti .jobs .activiti-datatable table,
#Activiti .deployments .activiti-datatable table {
  width:auto;
}

/* Bug fix for close button overlapping text */
.yui-skin-sam #prompt.yui-panel .bd {
  padding-top:25px;
}

/* JOBS */

#Activiti .jobs tbody a {
  background: transparent no-repeat scroll center center;
  padding: 0.5em 1em;
  text-decoration: none;
}

#Activiti .jobs tbody a.onActionExecuteJob {
  background-image: url("../images/job-execute-icon.png");
}

#Activiti .jobs tbody a.onActionViewException {
  background-image: url("../images/job-view-exception-icon.png");
}