/* STYLING */

#Activiti a.current,
#Activiti .yui-pg-current-page,
h1 {
  color: #2e9726;
}

/* STRUCTURE */

#navigation ul.activiti-menu.actions {
  float: right;
  margin-top: 0.4em;
  margin-right: 1em;
}


