
<div class="modal" ng-controller="IdmUserBulkUpdatePopupController">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header-wrapper">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h2 class="modal-title">{{'IDM.USER-MGMT.POPUP.BULK-UPDATE-PASSWORD-TITLE' | translate}}</h2>
                </div>
            </div>

            <div class="modal-body">

                <form role="form">
                    <div class="form-group">
                        <label for="password">{{'IDM.USER-MGMT.POPUP.BULK-UPDATE-PASSWORD' | translate}}</label><br />
                        <input id="password" type="password" class="form-control" ng-model="model.updateUsers.password" auto-focus>
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">{{'IDM.USER-MGMT.POPUP.BULK-UPDATE-PASSWORD-REPEAT' | translate}}</label><br />
                        <input id="passwordRepeat" type="password" class="form-control" ng-model="model.updateUsers.repeatPassword">
                    </div>
                </form>
                <div class="well">
                    <p>{{'IDM.USER-MGMT.POPUP.BULK-UPDATE-STATUS-USERS' | translate: getSelectedUsers()}}</p>
                    <ul class="user-list">
                        <li ng-repeat="user in getSelectedUsers()">
                            <i class="glyphicon glyphicon-user"></i> {{user.fullname}} <span>({{user.type}} - {{user.email}})</span>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="modal-footer-wrapper">
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-default" ng-click="$hide()" ng-disabled="model.loading">
                            {{'IDM.USER-MGMT.POPUP.BULK-UPDATE-CANCEL' | translate}}
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="updateUsers();$hide()"
                                ng-disabled="model.loading || model.updateUsers.password.length==0 || (model.updateUsers.password != model.updateUsers.repeatPassword)">
                            {{'IDM.USER-MGMT.POPUP.BULK-UPDATE-PASSWORD-CONFIRM' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>