@import url(../reindeer/styles.css);
  
#header {
  background: repeat-x left url(images/header-bg.png);
  height: 44px;
}

#header #activiti-component {
  background: top right no-repeat url(images/header-bg-right.png);
  height: 44px;
}

#header #application-info {
  float: left;
  padding-left: 2em;
  padding-top: 0.6em;
}

#content {
  float:bottom;
  height: 100%;
}

.v-table-cell-content {
    vertical-align: middle;
}


