<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="processEngine" class="org.activiti.test.cfg.spring.ProcessEngineFactoryBean"/>

	<bean id="userBean" class="org.activiti.test.cfg.spring.UserBean">
		<property name="processEngine" ref="processEngine" />
	</bean>

</beans>