<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
          
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    	<property name="driverClass" value="${jdbc.driver}"/>
    	<property name="url" value="${jdbc.url}"/>
    	<property name="username" value="${jdbc.username}"/>
    	<property name="password" value="${jdbc.password}"/>
    </bean>

	<bean id="processEngine" class="org.activiti.test.cfg.spring.ProcessEngineFactoryBean">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userBean" class="org.activiti.test.cfg.spring.UserBean">
		<property name="processEngine" ref="processEngine" />
	</bean>
	
	<context:property-placeholder location="activiti.properties"/>

</beans>