/* STYLING */

#Activiti a.current,
#Activiti .yui-pg-current-page,
#Activiti .activiti-form.bd h1,
#Activiti .activiti-form.bd h2,
#Activiti .activiti-form.bd h3,
h1 {
  color: #007dc3;
}

#fileChooserTree a:hover {
  text-decoration: none;
}

/* YUI AutoComplete (used for "tag this" dialog) 

.yui-ac-content ul li {
  list-style: none;
  float: left;
  margin: 0 5px 0 0;
}

#tag-suggestions {
  position: inherit !important;
}
*/

#tags-div {
  position:relative;
  top:-2.5em;
  color: #999;
}

#Activiti #tags-div input {
  width: 350px;
}

#Activiti #tags-div span {
  background: #EEE;
  color:#999;
  font-style:italic;
  margin-right:0.25em;
  padding:1px 3px 0 0;
}

#Activiti #tags-div span:hover {
  background: #DDD;
  color:#888;
}

#Activiti #tags-div span a {
  border-left: 1px solid #999;
  color: #999;
  font-style: normal;
  height: 100%;
  padding-left: 3px;  
}

#Activiti #tags-div span a:hover {
  text-decoration: none;
  color:#FFF;
}

#Activiti #tags-div a {
  text-decoration: none;
  color:#999;
  margin-left: 5px;
}

#Activiti #tags-div a:hover {
  color:#666;
}

#Activiti #tags-div .yui-ac-content {
  max-width: 350px;
  border: 1px solid #666;
  background: #FFF;
  overflow: hidden;
}

#Activiti #tags-div form {
  display: inline;
}

.yui-skin-sam .yui-ac-content { 
  position:absolute;
  width:100%;
  border:1px solid #808080;
  background:#fff;
  overflow:hidden;
  z-index:9050;
}

.yui-skin-sam .yui-ac-content ul {
  margin:0;padding:0;width:100%;
}

.yui-skin-sam .yui-ac-content li {
  margin:0;
  padding:2px 5px;
  cursor:pointer;
  white-space:nowrap;
  list-style:none;
  zoom:1;
  line-height: 1em;
}

.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
  background:#B3D4FF;
}

.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
  background:#426FD9;
  color:#FFF;
}

#action-waiting-dialog {
  height: 15px;
  background: url("/activiti-cycle/res/images/loading-bar.gif") no-repeat center;
}

/* STRUCTURE */
