<?xml version="1.0" encoding="UTF-8"?>
<definitions id="definitions"
             xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL"
             targetNamespace="Examples">

    <process id="simpleProcess">

        <startEvent id="start"/>
        <sequenceFlow id="flow1" sourceRef="start" targetRef="theTask"/>

        <userTask id="theTask" name="My Task"/>
        <sequenceFlow id="flow2" sourceRef="theTask" targetRef="theEnd"/>

        <endEvent id="theEnd"/>

    </process>

</definitions>