<!--

    Activiti app component part of the Activiti project
    Copyright 2005-2015 Alfresco Software, Ltd. All rights reserved.

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <!--
     Remove classpath scanning (from servlet 3.0) in order to speed jetty startup :
     metadata-complete="true" above + empty absolute ordering below
     -->
    <absolute-ordering>
        <!--
           Empty absolute ordering is necessary to completely desactivate classpath scanning
            -->
    </absolute-ordering>

    <display-name>activiti-app</display-name>

    <!-- All the Servlets and Filters are configured by this ServletContextListener : -->
    <listener>
        <listener-class>org.activiti.app.servlet.WebConfigurer</listener-class>
    </listener>
</web-app>