
<div class="modal" ng-controller="KisBpmTextPropertyPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
			    <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h3>
			</div>
			<div class="modal-body">
				<p><textarea auto-focus class="form-control" ng-model="property.value" style="width:70%; height:100%; max-width: 100%; max-height: 100%; min-height: 200px"/></p>
			</div>
			<div class="modal-footer">
				<button ng-click="save()" class="btn btn-primary" translate >ACTION.SAVE</button>
			</div>
		</div>
	</div>
</div>