
.north_view .x-panel-body,
.x-panel-editor-north .x-panel-body {
	height:72px !important;
}

#signavio_repository_header #signavio_repository_logo, #oryx_editor_header a {
	height:44px !important;
	margin:0;
	left:0 !important;
	top:-4px !important;
	width: 900px !important;
}

#signavio_repository_header, #oryx_editor_header {
	background:url("../img/signavio/smoky/header_background2.png") repeat-x scroll center -4px transparent !important;
}

#oryx_editor_header {
	height: 40px !important;
	overflow: hidden;	
}

.signavio_repository_header_shadow, .x-panel-editor-north #oryx_editor_header div {
	background:url("../img/signavio/smoky/header_background_bottom.png") repeat-x scroll center bottom transparent !important;
	top:68px;
}

.x-panel-editor-north #oryx_editor_header div {
	top: 70px !important;
}

.x-panel-editor-north .x-panel .x-panel-body {
	height:40px !important;
}

.signavio_repository_header_shadow, .signavio_repository_header_shadow2 {
	height:13px;
}

.x-toolbar.north_view,
.x-panel-editor-north .x-toolbar {
	background:url("../img/signavio/smoky/header_background_bottom.png") repeat scroll 0 0 transparent !important;
	height:28px !important;
	left:0;
	top:40px !important;
	width:100%;
}


.x-panel-editor-north .x-toolbar {
	top:0px !important;
}

.x-toolbar.north_view table,
.x-panel-editor-north .x-toolbar table {
	position:relative;
	top:2px;
}

.x-toolbar.north_view table button,
.x-panel-editor-north .x-toolbar table button{
	color:#333333;
}

.x-toolbar.north_view table .x-btn-menu-active button,
.x-toolbar.north_view table .x-btn-over button,
.x-toolbar.north_view table .x-btn-click button,
.x-panel-editor-north .x-toolbar table .x-btn-menu-active button,
.x-panel-editor-north .x-toolbar table .x-btn-over button,
.x-panel-editor-north .x-toolbar table .x-btn-click button {
	color:white;
}

#oryx_editor_header .openid {
	display: none;
}

#editor_header {
  background:url("../img/signavio/smoky/header_background2.png") repeat-x scroll center -4px transparent !important;
  width: 100%;
  overflow:hidden; 
  position: relative;
  height: 40px;
}

#header_logo_image {
  position: absolute;
    top: -4px;
    left: 0px;
    height: 40px;
    width: 150px;
}

#header_close_image {
  position: absolute;
  width: 25px;
  top: 10px;
    right: 17px;
    height: 40px;
}
