.task-list h1 {
  float: left;
}

.task-list .yui-pg-container {
  float: right;
}

.task-list .activiti-datalist.yui-dt {
  clear: both;
}


.task-list .activiti-datalist table tbody tr {
  height: 4.5em;
}

/* COLUMN WIDTHS */

/* ICON */

.task-list .activiti-datalist.yui-dt .yui-dt-col-id
{
  text-align: center;
}


.task-list .activiti-datalist.yui-dt .yui-dt-col-id .yui-dt-liner
{
  padding:0.4em 0.9em;
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-id .task{
  background-image: url(../../images/task-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.25em;
  padding: 1.5em;
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-assignee .user-task-assigned,
.task-list .activiti-datalist.yui-dt .yui-dt-col-assignee .user-task-unassigned {
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.1em ;
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-assignee .user-task-assigned {
  background-image: url(../../images/user-task-assigned-icon.png);
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-assignee .user-task-unassigned {
  background-image: url(../../images/user-task-unassigned-icon.png);
}


/* ACTIONS */

.task-list .activiti-datalist.yui-dt .yui-dt-col-action {
  text-align: right;  
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-action span.first-child {
  background: no-repeat scroll 12px 4px transparent;
  padding-left: 22px;
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-action .complete-form span.first-child
{
  background-image: url("../../images/process-start-form-icon.png");
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-action .complete span.first-child
{
  background-image: url("../../images/process-start-icon.png");
}

.task-list .activiti-datalist.yui-dt .yui-dt-col-action .claim span.first-child
{
  background-image: url("../../images/user-icon.png");
}





